<hr>
<h1>
  Productos más buscados :
</h1>
<hr>
<div *ngIf="error">
    {{results.mensaje}}
</div>
<div class="card-columns" *ngIf="!error">
  <div class="card" *ngFor="let producto of productos">
    <img class="card-img-top" [src] ="producto.imagen"  alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">{{producto.titulo}}</h4>
      <p class="card-text">Resultado de : </p>
      <p class="card-text" *ngFor="let keyword of producto.keywords">{{keyword.palabra}}</p>
    </div>
  </div>
</div>
